name: Grovean Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    uses: philo-groves/kunit/.github/workflows/kernel-tests.yml@main
    with:
      rust-toolchain: nightly
      targets: |
        linker/x86_64-grovean.json
        linker/aarch64-grovean.json
      cargo-test-args: --verbose